.primaryBtn {
  font-size: 0.9375rem;
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 60px;
  padding: 15px 35px;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.primaryBtn:hover {
  background-color: var(--color-primary-dark);
}
.btnIcon{
  width: 25px;
  height: 20px;
  margin-right: 15px;
}